:root{
  --bs-dark: #212529;
}
body {
  background-color: #0F0F0F;
  width: 100vw;
  /* height: 100vh; */
  font-family: sans-serif;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}

.container {
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  padding: 16px; 
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1440px;

}

.top {
  display: flex;
  width: calc(100% - 32px);
  height: 60%;
  margin: 16px;
}

.bottom {
  display: flex;
  width: calc(100% - 32px);
  height: 40%;
  margin: 16px;
}

.top_left_container {
  width: 50%;
  height:100%;
  display: flex;
  flex-direction: column;
  margin-right: 8px;
}

.card {
  position: relative;
  width: calc(100% - 64px);
  padding: 32px;
  border-radius: 24px;
  background-color: #1D1B1E;
  height: min-content;
  min-height: 200px;
}

.cards_numbers {
  display: flex;
  width: 100%;
  height: 100%;
}

.card_number {
  width: calc((100% / 3) - 32px);
  height: 100%;
  padding: 32px;
  border-radius: 24px;
  margin-top: 16px;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  align-items: stretch;
}

.card_green {
  background-color: #03C39A;
}

.card_yellow {
  background-color: #FFBF3D;
  color: black;
}

.card_red {
  background-color: #FF6D7A;
  margin-right: 0;
}

.bio {
  color:white;
  font-size: 48px;
  font-weight: 600;
  line-height: 48px;
}

.button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  position: absolute;
  border-radius: 66px;
  background-color: #03C39A;
  width: max-content;
  height: max-content;
  font-size: 24px;
  font-weight: 400;
  bottom: 16px;
  right: 16px;
  height: 48px;
  width: 150px;
}

.card_number_text_title{
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 16px;
}

.card_number_text_subtitle{
  font-size: 24px;
}

.link {
  color:white;
  outline: none;
  text-decoration: none;
}

.top_right_container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.card_space_between {
  position: relative;
  width: calc(100% - 32px);
  height: 48px;
  padding: 16px;
  border-radius: 24px;
  background-color: #1D1B1E;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.me_text { 
  color: white;
  font-size: 32px;
  padding-left: 8px;
}

.top_right_wrapper {
  display: flex;
  width: calc(100% - 16px);
  height: 100%;
}

.profile_picture {
  margin-top: 16px;
  margin-right: 16px;
  width: 50%;
  height: calc(100% - 48px);
  border-radius: 24px;
  object-fit: cover;
}

.info_wrapper {
  width: 50%;
  height: calc(100% - 32px);
  display: flex;
  flex-direction: column;
}

.info_subtitle {
  color: #A09FA0;
  font-size: 18px;
}

.info_value {
  color: white;
  font-size: 18px;
}

.margin_top{
  padding: 16px;
  margin-top: 16px;
}

.card_space_between_map {
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  padding: 16px;
  border-radius: 24px;
  background-color: #1D1B1E;
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-top: 16px;
}
.bottom_left {
  width: 50%;
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
}
.flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.left_title{
  display: flex;
  justify-content: space-between;
  color: white;
  font-weight: 500;
  font-size: 24px;
}

.grey {
  color: #797778;
}

.projects {
  display: flex;
  margin-top: 16px;
  height: calc(100% - 32px);
  width: 100%;
  height: 200px;
  justify-content: flex-start;
  overflow-x: scroll; 
  overflow-y: hidden;
}

.projects::-webkit-scrollbar {
  display: none;
}

.project_thumbnail {
  position: relative;
  width: 200px;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
  margin-right: 16px;
  min-width: 120px;
  margin-bottom: 16px;
  margin-right: 16px;
}
.map {
  border-radius: 24px;
  margin-top: 16px;
}

.background {
  width: 100%;
  height: 100%;
  background-color: #0F0F0F;
  opacity: 0;
}
.background:hover {
  opacity: 0.25; cursor: pointer;
}

.project_1 {
  background-image: url("./assets/greenlandice_oli2_2023072_lrg.jpg");
}

.project_2 {
  background-image: url("./assets/KSC-20150810-PH-NAS01_0022~small.jpg");
}

.project_3 {
  background-image: url("./assets/poppies_oli2_2023105_lrg.jpg");
}

.project_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.bottom_right {
  width: 50%;
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.about { 
  padding-top: 8px;
  color: #A9A8AA;
  text-align: justify;
  font-size: 16px;
}

.brands_container {
  width: calc(100% - 32px);
  padding: 16px;
  border-radius: 24px;
  background-color: #1D1B1E;
  display: flex;
  padding: 16px;
  margin-top: 16px;
  justify-content: space-between;
}

.mobile {
  display: none;
}

.brand {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #262427;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.brand:hover {
  cursor: pointer;
  background-color: #2b4570;
}

.brand_icon {
  width: 100%;
  height: 100%;
  /* transform: scale(0.8); */
}

.logo {
  position: relative;
  width: 30px;
  height: 30px;
  object-fit: cover;
  background-image: url('./assets/logo.png');
}


@media screen and (max-width: 1292px) {
  .bio {
    font-size: 40px;
  }
}


@media only screen and (max-width: 1230px) {
  .card_number {
    padding: 16px;
  }
}


@media screen and (max-width: 1100px) {
  .bio {
    font-size: 34px;
  }
}



@media screen and (max-width: 1000px) {
  .card_number_text_title {
    font-size: 48px;
  }
  .card_number_text_subtitle {
    font-size: 16px;
  }
  .brands_container {
    width: calc(100% - 32px);
    padding: 16px;
    border-radius: 24px;
    background-color: #1D1B1E;
    display: flex;
    padding: 16px;
    margin-top: 16px;
  }
  .brand {
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 768px) {
  body { 
    font-size: 2em; 
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .top_left_container {
    width: 100%;
    margin-bottom: 16px;
    margin-right: 0;
  }
  .top {
    width: 100%;
    flex-wrap: wrap;
    margin: 0;
  }
  .top_right_container {
    width: 100%;
    margin-bottom: 16px;
    margin-left: 0;
  }
  .top_right_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .profile_picture {
    width: 100%;
    margin-right: 0;
  }
  .bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
  }
  .bottom_left {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .bottom_right {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .bio {
    font-size: 48px;  
  }
  .bottom_left {
    margin-bottom: 16px;
  }
  .bottom_right {
    width: 100%;
    margin-left: 0;
  }
  .about {
    font-size: 16px;
  }
  .brand{
    width: 36px;
    height: 36px;
  }
  .card_space_between {
    width: 100%;
  }
  .info_wrapper {
    width: calc(100% - 32px);
  }
  .card_space_between_map {
    width: 100%;
  }
  .me_mobile{
    width: calc(100% - 32px);
  }
}

@media screen and (max-width: 620px) {
  body {
    font-size: 24px;
  }
  .bio {
    font-size: 30px;  
  }
  .cards_numbers {
    display: flex;
    flex-direction: column;
  }
  .brand {
    width: 48px;
    height: 48px;
  }
  .about {
    font-size: 15px;
  }
  .card_number {
    width: calc(100% - 32px);
  }
}

@media screen and (max-width: 360px) {
  .bio {
    font-size: 30px;
  }
}
